.nav {
  font-family: var(--font);
}


/* Bottom mobile navigation */

.nav-bottom {

  position: fixed;

  bottom:0;
  left:0;
  right:0;


  display:flex;

  background:#090909;

  border-top:1px solid #222;


  padding:
  10px
  12px
  calc(25px + env(safe-area-inset-bottom));


  z-index:100;

}



.nav-bottom .nav-link {


  flex:1;


  display:flex;

  flex-direction:column;

  align-items:center;


  gap:5px;


  color:#777;


  font-size:.7rem;


}



.nav-bottom .nav-link.active {

  color:white;

}



.nav-icon {

  font-size:1.2rem;

}





/* Hide sidebar on mobile */

.nav-sidebar {

  display:none;

}






/* Desktop sidebar */

@media(min-width:768px){


.nav-bottom {

  display:none;

}



.nav-sidebar {


  display:flex;


  flex-direction:column;


  width:220px;


  height:100vh;


  background:#090909;


  border-right:1px solid #222;


  padding:24px 14px;


}


.nav-sidebar .nav-brand {

  color:white;

  margin-bottom:20px;

}



.nav-sidebar .nav-link {


  color:#aaa;


  padding:10px;


}



}


